<div class="sidenav">
  <ul class="guide-nav">
    <li>
      <span class="item">Getting Started</span>
      <ul>
        <li><%= link_to "Introduction", "/guide/introduction.html", class: "subitem"%></li>
        <li><%= link_to "Coding Style", "/guide/code_style.html", class: "subitem" %></li>
        <!-- <li><%= link_to "OOCSS", "/guide/oocss.html", class: "subitem"%></li> -->
      </ul>
    </li>
    <li>
      <span class="item">Approach</span>
      <ul>
        <li><%= link_to "Simplicity", "/guide/simplicity.html", class: "subitem"%></li>
        <li><%= link_to "Naming conventions", "/guide/naming_conventions.html", class: "subitem"%></li>
        <li><%= link_to "Categorizing CSS Rules", "/guide/categorizing_css_rules.html", class: "subitem"%></li>
        <li><%= link_to "Objects", "/guide/objects.html", class: "subitem"%></li>
        <li><%= link_to "Modules", "/guide/modules.html", class: "subitem"%></li> 
      </ul>
    </li>
    <li>
      <span class="item">Organization</span>
      <ul>
        <li><%= link_to "Using SASS", "/guide/using_sass.html", class: "subitem"%></li>
        <li><%= link_to "File Organization", "/guide/file_organization.html", class: "subitem"%></li>
        <li><%= link_to "UI Library", "/guide/ui_library.html", class: "subitem"%></li>
        <!-- <li><%= link_to "Responsive desing", "", class: "subitem"%></li> -->
      </ul>
    </li>
  </ul>
</div>