<div class="sidenav">
  <ul class="guide-nav">
    <li><%= link_to "Coding Style", "/guide/code_style.html" %></li>
    <li><%= link_to "Naming conventions", "/guide/naming_conventions.html"%></li>
    <li><%= link_to "Categorizing CSS Rules", "/guide/categorizing_css_rules.html"%></li>
    <!-- <li><a href="/guide/simplicity_and_modularity.html">Simplicity and Modularity</a></li> -->
    <li><%= link_to "Objects", "/guide/objects.html"%></li>
    <li><%= link_to "Modules", "/guide/modules.html"%></li>
    <!-- <li><a href="/guide/structure_and_appearance.html">Separate Structure and Appearance</a></li> -->
    <li><%= link_to "Using SASS", "/guide/using_sass.html"%></li>
    <li><%= link_to "File Organization", "/guide/file_organization.html"%></li>
  </ul>
</div>