<div class="sidenav">
  <ul>
    <li><%= link_to "Navigation", "", class: "item"%></li>
    <li><%= link_to "Buttons", "", class: "item"%></li>
    <li><%= link_to "Form elements", "", class: "item"%></li>
    <li><%= link_to "Tables", "", class: "item"%></li>
    <li><%= link_to "Lists", "", class: "item"%></li>
    <li><%= link_to "Alerts", "", class: "item"%></li>
    <li><%= link_to "Popup", "", class: "item"%></li>
    <li><%= link_to "Tooltips", "", class: "item"%></li>
  </ul>
</div>