<div class="sidenav">
  <ul>
    <li>
      <span class="item">Base</span>
      <ul>
        <li><%= link_to "Reset.css", "/framework/reset.html", class: "subitem"%></li>
        <li><%= link_to "Grid System", "/framework/grid_system.html", class: "subitem"%></li>
        <li><%= link_to "Spacings", "/framework/spaces.html", class: "subitem"%></li>
        <li><%= link_to "Helper classes", "/framework/helpers.html", class: "subitem"%></li>
        <li><%= link_to "Mixins", "/framework/mixins.html", class: "subitem"%></li>
      </ul>
    </li>
    <li class="item">
      <span class="item">Components</span>
      <ul>
        <%= link_to "Typography", "/framework/typography.html", class: "subitem"%>
        <li><%= link_to "Navigation", "", class: "subitem"%></li>
        <li><%= link_to "Buttons", "", class: "subitem"%></li>
        <li><%= link_to "Form elements", "", class: "subitem"%></li>
        <li><%= link_to "Tables", "", class: "subitem"%></li>
        <li><%= link_to "Lists", "", class: "subitem"%></li>
        <li><%= link_to "Alerts", "", class: "subitem"%></li>
        <li><%= link_to "Popups", "", class: "subitem"%></li>
        <li><%= link_to "Tooltips", "", class: "subitem"%></li>
      </ul>
    </li>
  </ul>
</div>