<div class="sidenav">
  <ul>
    <li>
      <a href="#" class="item">Base</a>
      <ul>
        <li><%= link_to "Reset/Normalize", "/framework/reset.html", class: "subitem"%></li>
        <li><%= link_to "Grid System", "/framework/grid_system.html", class: "subitem"%></li>
        <li><%= link_to "Spacings/Helper classes", "/framework/spaces.html", class: "subitem"%></li>
        <li><%= link_to "Mixins", "/framework/mixins.html", class: "subitem"%></li>
      </ul>
    </li>
    <li>
      <a href="#" class="item">Typography</a>
      <ul>
        <%= link_to "Typography", "/framework/typography.html", class: "subitem"%>
      </ul>
    </li>
    <li class="item">
      <a href="" class="item">Library</a>
      <ul>
        <li><%= link_to "Library", "/framework/library.html", class: "subitem"%></li>
      </ul>
    </li>
  </ul>
</div>