<div class="sidenav">
  <ul class="docs-nav">
    <li><%= link_to "Reset/Normalize", "/framework/reset.html"%></li>
    <li><%= link_to "Grid", "/framework/grids.html"%></li>
    <li><%= link_to "Spacings/Helper classes", "/framework/spaces.html"%></li>
    <li><%= link_to "Typography", "/framework/typography.html"%></li>
    <li><%= link_to "Mixins", "/framework/mixins.html"%></li>
    <li><%= link_to "Library", "/framework/library.html"%></li>
    </ul>
  </div>